[Unit]
Description=mediaserver
After=network.target

[Service]
User=root
Group=root
WorkingDirectory=/var/www/moongas
ExecStart=/var/www/moongas/.venv/bin/python -m mediaserver mediaserver-config.yml
Restart=always
RestartSec=30s
Type=simple

[Install]
WantedBy=multi-user.target