[Unit]
Description=mediaserver
After=network.target

[Service]
User=brett
Group=brett
WorkingDirectory=/var/www/moongas/moongas-collection-demo
ExecStart=/var/www/moongas/moongas-collection-demo/.venv/bin/python -m mediaserver mediaserver-config.yml
Restart=always
RestartSec=30s
Type=simple

[Install]
WantedBy=multi-user.target